
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 30%;
}

h1{
    display: block;
    text-align: center;
    width: 100%;
}

.inputbox{
    display: flex;
}

form{
  
}
#zip-code{
    
}



#go{
}


.background{
    width: 100%;
    height: 1000px;
    background: url("images/bars.png");
    background-repeat: no-repeat;
    background-size: 300px;
}

.footer {
    background: url("images/duck.jpeg");
}

.search-results{
    width: 95px;
    height: 135px;
    position: relative;
    top: 25px;
    left: 100px
}